<rolltemplate class="sheet-rolltemplate-5e-shaped-simple">
    <div class="sheet-rolltemplate-5e-shaped">
        <div class="rt-card boring-box-wrapper">
            <div class="grid-box boring-box">
                <div class="boring-box-top-left"></div>
                <div class="boring-box-expand-top"></div>
                <div class="boring-box-top-right"></div>
                <div class="boring-box-expand-left"></div>
                <div class="box-middle"></div>
                <div class="boring-box-expand-right"></div>
                <div class="boring-box-bottom-left"></div>
                <div class="boring-box-expand-bottom"></div>
                <div class="boring-box-bottom-right"></div>
            </div>
            <div class="box-inner">
                <div class="rt-title-wrap">
                <span class="rt-title">
                    <span class="rt-title-name">{{rname}}</span>
                    <span class="inline-block">
                        <span class="shaped-row uses-recharge-cost-wrap">
                        </span>
                    </span>
                </span>
                </div>
                <div class="rt-subheader">
                    {{#charname}}
                    <div class="rt-character-name">{{charname}}</div>
                    {{/charname}}
                </div>
                <div class="rt-content">
                    {{#r1}}
                    <div class="shaped-row align-flex-end">
                        {{#always}}
                        <span class="output pad-r-md">{{r1}}{{#global}} + {{global}}{{/global}}</span>
                        <span class="output pad-l-md border-left">{{r2}}{{#global}} + {{global}}{{/global}}</span>
                        {{/always}}
                        {{#normal}}
                        <span class="output">{{r1}}{{#global}} + {{global}}{{/global}}</span>
                        {{/normal}}
                        {{#advantage}}
                        {{#rollLess() r1 r2}}
                        <span class="output pad-r-md grey">{{r1}}{{#global}} + {{global}}{{/global}}</span>
                        <span class="output pad-l-md border-left">{{r2}}{{#global}} + {{global}}{{/global}}</span>
                        {{/rollLess() r1 r2}}
                        {{#rollTotal() r1 r2}}
                        <span class="output pad-r-md">{{r1}}{{#global}} + {{global}}{{/global}}</span>
                        <span class="output pad-l-md border-left">{{r2}}{{#global}} + {{global}}{{/global}}</span>
                        {{/rollTotal() r1 r2}}
                        {{#rollGreater() r1 r2}}
                        <span class="output pad-r-md">{{r1}}{{#global}} + {{global}}{{/global}}</span>
                        <span class="output pad-l-md border-left grey">{{r2}}{{#global}} + {{global}}{{/global}}</span>
                        {{/rollGreater() r1 r2}}
                        {{/advantage}}
                        {{#disadvantage}}
                        {{#rollLess() r1 r2}}
                        <span class="output pad-r-md">{{r1}}{{#global}} + {{global}}{{/global}}</span>
                        <span class="output pad-l-md border-left grey">{{r2}}{{#global}} + {{global}}{{/global}}</span>
                        {{/rollLess() r1 r2}}
                        {{#rollTotal() r1 r2}}
                        <span class="output pad-r-md">{{r1}}{{#global}} + {{global}}{{/global}}</span>
                        <span class="output pad-l-md border-left">{{r2}}{{#global}} + {{global}}{{/global}}</span>
                        {{/rollTotal() r1 r2}}
                        {{#rollGreater() r1 r2}}
                        <span class="output pad-r-md grey">{{r1}}{{#global}} + {{global}}{{/global}}</span>
                        <span class="output pad-l-md border-left">{{r2}}{{#global}} + {{global}}{{/global}}</span>
                        {{/rollGreater() r1 r2}}
                        {{/disadvantage}}
                    </div>
                    {{/r1}}
                </div>
            </div>
        </div>
    </div>
</rolltemplate>